@using EntityLayer.Concrete
@model List<SocialMedia>

        <div class="social-icons">
             @foreach (var item in Model)
             {
                @if (item.Status == true)
                 {
                    <a href="@item.Url">
                        <i class="@item.Name"></i>
                    </a>
                 }
             }
        </div>
