@model Blog_Project.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Ayarlar /</span> Profil</h4>

    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-pills flex-column flex-md-row mb-3">
                <li class="nav-item">
                    <a class="nav-link active" href="javascript:void(0);"><i class="bx bx-user me-1"></i> Profil</a>
                </li>
            </ul>
            <div class="card mb-4">
                <form class="forms-sample" method="post" enctype="multipart/form-data">
                    <h5 class="card-header">Profil Detayları</h5>
                    <div class="card-body">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="~/userimage/@Model.PictureUrl"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Yeni Fotoğraf Ekle</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file"
                                           id="upload"
                                           class="account-file-input"
                                           asp-for="Picture"
                                           hidden
                                           accept="image/png, image/jpeg, image/jpg" onchange="previewImage(this)" />
                                </label>
                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4" onclick="resetImage()">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Temizle</span>
                                </button>

                                <p class="text-muted mb-0">İzin verilen PNG veya JPG. Maksimum boyut 2MB</p>
                            </div>
                        </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                        <div class="row">
                            <div class="mb-3 col-md-6">
                                <label for="firstName" class="form-label">İsim</label>
                                <input class="form-control"
                                       type="text"
                                       asp-for="Name"
                                       id="firstName"
                                       name="Name"
                                       value="@Model.Name"
                                       autofocus />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="lastName" class="form-label">Soyisim</label>
                                <input class="form-control"
                                       type="text"
                                       asp-for="Surname"
                                       id="lastName"
                                       name="Surname"
                                       value="@Model.Surname"
                                       autofocus />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="email" class="form-label">Mail</label>
                                <input class="form-control"
                                       type="text"
                                       asp-for="Email"
                                       id="email"
                                       name="Email"
                                       value="@Model.Email" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="Password" class="form-label">Şifre</label>
                                <input type="password"
                                       id="Password"
                                       class="form-control"
                                       name="Password"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="Password"
                                       asp-for="Password" />
                            </div>
                            <div class="mb-3 col-md-6">
                                <label for="PasswordConfirm" class="form-label">Şifre Tekrar</label>
                                <input type="password"
                                       id="PasswordConfirm"
                                       class="form-control"
                                       name="PasswordConfirm"
                                       placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                                       aria-describedby="PasswordConfirm"
                                       asp-for="PasswordConfirm" />
                            </div>
                        </div>
                        <div class="mt-2">
                            <button type="submit" class="btn btn-primary me-2">Kaydet</button>
                            <button type="reset" class="btn btn-outline-secondary">İptal</button>
                        </div>
                    </div>
                    <!-- /Account -->
                </form>
            </div>
            <div class="card">
                <h5 class="card-header">Hesabı Sil</h5>
                <div class="card-body">
                    <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                            <h6 class="alert-heading fw-bold mb-1">Hesabını gerçekten silmek istediğine emin misin?</h6>
                            <p class="mb-0">Eğer hesabını silersen, bunun bir geri dönüşü olmayacak. Lüfen bunlara göre karar veriniz.</p>
                        </div>
                    </div>
                    <form class="forms-sample" method="post" enctype="multipart/form-data" asp-controller="Profile" asp-action="DeleteAccountConfirmation">
                        <button type="submit" class="btn btn-danger deactivate-account" onclick="return confirm('Gerçekten silmek istiyor musunuz?')">Hesabımı Sil</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            if (input.files[0].size > 2097152) {
                alert("Dosya çok büyük! Maksimum dosya boyutu 2MB olmalıdır.");
                input.value = "";
                return;
            }

            var reader = new FileReader();
            reader.onload = function (e) {
                $('#uploadedAvatar').attr('src', e.target.result);
            };
            reader.readAsDataURL(input.files[0]);
        }
    }

    function resetImage() {
        $('#upload').val('');
        $('#uploadedAvatar').attr('src', '/userimage/@Model.PictureUrl');
    }
    
</script>