@using EntityLayer.Concrete
@model List<Skills>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="row">
        <div class="card">
            <div class="table-responsive text-nowrap">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Yetenek Başlığı</th>
                            <th>Açıklama</th>
                            <th>Sil</th>
                            <th>Güncelle</th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td><strong></strong>@item.SkillsID</td>
                                <td>@item.Name</td>
                                @if (item.ExperienceDescription != null && item.ExperienceDescription.Length > 10)
                                {
                                    <td>@item.ExperienceDescription.Substring(0, 10)...</td>
                                }
                                else
                                {
                                    @if (item.ExperienceDescription == null)
                                    {
                                        <td style="color: red">Atanmamış</td>
                                    }
                                    else
                                    {
                                        <td>@item.ExperienceDescription</td>
                                    }
                                }
                                <td><a href="/Skill/DeleteSkill/@item.SkillsID" class="btn btn-outline-danger" onclick="return confirm('Gerçekten silmek istiyor musunuz?')"><span class="tf-icons bx bx-error-alt"></span>&nbsp; Sil</a></td>
                                <td><a href="/Skill/EditSkill/@item.SkillsID" class="btn btn-outline-success"><span class="tf-icons bx bx-pencil"></span>&nbsp; Güncelle</a></td>

                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <br />
    <div style="text-align: left;">
        <a href="/Skill/AddSkill/" class="btn btn-outline-info">
            <span class="tf-icons bx bx-clipboard"></span>&nbsp; Yetenek Ekle
        </a>
    </div>
</div>