


<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">
    <div class="navbar-nav align-items-center">
        <div class="nav-item d-flex align-items-center">
            <i class="bx bx-search fs-4 lh-0"></i>
            <input type="text"
                   class="form-control border-0 shadow-none"
                   placeholder="Ara..."
                   aria-label="Ara..." />
        </div>
    </div>
    <ul class="navbar-nav flex-row align-items-center ms-auto">
        <li class="nav-item navbar-dropdown dropdown-user dropdown">
            <a class="nav-link dropdown-toggle hide-arrow" href="javascript:void(0);" data-bs-toggle="dropdown">
                <div class="avatar avatar-online">
                    <img src="~/userimage/@ViewBag.v1" class="w-px-40 h-auto rounded-circle" />
                </div>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
                <li>
                    <a class="dropdown-item" href="/Profile/">
                        <div class="d-flex">
                            <div class="flex-shrink-0 me-3">
                                <div class="avatar avatar-online">
                                    <img src="~/userimage/@ViewBag.v1" class="w-px-40 h-auto rounded-circle" />
                                </div>
                            </div>
                            <div class="flex-grow-1">
                                <span class="fw-semibold d-block">@ViewBag.v2</span>
                                <small class="text-muted">@ViewBag.v3</small>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="/Profile/">
                        <i class="bx bx-user me-2"></i>
                        <span class="align-middle">Profilim</span>
                    </a>
                </li>

                <li>
                    <div class="dropdown-divider"></div>
                </li>
                <li>
                    <a class="dropdown-item" href="/LogOut/">
                        <i class="bx bx-power-off me-2"></i>
                        <span class="align-middle">Çıkış Yap</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>